.mediaViewInfo {
	--web-view-name: Home Transform;
	--web-view-id: Home_Transform;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Home_Transform;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Home_Transform_Class {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Home Transform;
	--web-view-id: Home_Transform;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
.template_Class {
	display: none;
	position: absolute;
	width: 1919px;
	height: 1026px;
	left: 1px;
	top: 27px;
	overflow: visible;
}
.Container_Class {
	position: absolute;
	width: 1925px;
	height: 1486px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Left_Pane_Class {
	position: absolute;
	width: 272px;
	height: 893px;
	left: 2px;
	top: 67px;
	overflow: visible;
}
.videostack_Class {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 28px;
	top: 317px;
	overflow: visible;
}
.history_Class {
	position: absolute;
	width: 33px;
	height: 30px;
	left: 27px;
	top: 380px;
	overflow: visible;
}
.watch_later_Class {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 28px;
	top: 567px;
	overflow: visible;
}
.purchase_Class {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 28px;
	top: 505px;
	overflow: visible;
}
.yt_bw_Class {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 28px;
	top: 442px;
	overflow: visible;
}
.yt_bw_p_Class {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 28px;
	top: 209px;
	overflow: visible;
}
.Trending_Class {
	position: absolute;
	left: 85px;
	top: 75px;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.Subscriptions_Class {
	position: absolute;
	left: 85px;
	top: 143px;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.Originals_Class {
	position: absolute;
	left: 85px;
	top: 210px;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.Library_Class {
	position: absolute;
	left: 85px;
	top: 315px;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.History_u_Class {
	position: absolute;
	left: 85px;
	top: 378px;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.Your_Videos_Class {
	position: absolute;
	left: 85px;
	top: 442px;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.Purchases_Class {
	position: absolute;
	left: 85px;
	top: 505px;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.Watch_Later_x_Class {
	position: absolute;
	left: 85px;
	top: 568px;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 263px;
	height: 1px;
	left: 0.5px;
	top: 295.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_2 {
	overflow: visible;
	position: absolute;
	width: 263px;
	height: 1px;
	left: 0.5px;
	top: 631.5px;
	transform: matrix(1,0,0,1,0,0);
}
.trending_Class {
	position: absolute;
	width: 36px;
	height: 36px;
	left: 22px;
	top: 75px;
	overflow: visible;
}
.Image_3_Class {
	position: absolute;
	width: 39px;
	height: 29px;
	left: 24px;
	top: 146px;
	overflow: visible;
}
.home_Class {
	position: absolute;
	width: 272px;
	height: 55px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 272px;
	height: 55px;
	left: 0px;
	top: 0px;
}
.Home__Class {
	position: absolute;
	left: 85px;
	top: 8px;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.home__Class {
	position: absolute;
	width: 31px;
	height: 29px;
	left: 28px;
	top: 12px;
	overflow: visible;
}
.Subs_Class {
	position: absolute;
	width: 236px;
	height: 253px;
	left: 25px;
	top: 640px;
	overflow: visible;
}
.Mr_Bean_Class {
	position: absolute;
	left: 60px;
	top: 45px;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.SUBSCRIPTIONS_Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 139px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(112,112,112,1);
}
.DesignCourse_Class {
	position: absolute;
	left: 60px;
	top: 105px;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.Marques_Brownlee_Class {
	position: absolute;
	left: 60px;
	top: 166px;
	overflow: visible;
	width: 177px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.Show__100_More_Class {
	position: absolute;
	left: 60px;
	top: 226px;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.Path_4 {
	overflow: visible;
	position: absolute;
	width: 25.524px;
	height: 14.176px;
	left: 16.5px;
	top: 232.5px;
	transform: matrix(1,0,0,1,0,0);
}
.mrbean_Class {
	position: absolute;
	width: 34px;
	height: 34px;
	left: 12px;
	top: 47px;
	overflow: visible;
}
.designcourse_Class {
	position: absolute;
	width: 34px;
	height: 34px;
	left: 12px;
	top: 107px;
	overflow: visible;
}
.mkbhd_Class {
	position: absolute;
	width: 34px;
	height: 34px;
	left: 12px;
	top: 166px;
	overflow: visible;
}
.header_Class {
	position: absolute;
	width: 1925px;
	height: 70px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_6 {
	position: absolute;
	overflow: visible;
	width: 1925px;
	height: 70px;
	left: 0px;
	top: 0px;
}
.contents_Class {
	position: absolute;
	width: 1846.941px;
	height: 34px;
	left: 35.059px;
	top: 18px;
	overflow: visible;
}
.ID9_dots_Class {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 1704.941px;
	top: 5px;
	overflow: visible;
}
.bell_Class {
	position: absolute;
	width: 24px;
	height: 21px;
	left: 1761.941px;
	top: 7px;
	overflow: visible;
}
.Ham_Menu_Class {
	position: absolute;
	width: 20.13px;
	height: 10px;
	left: 0px;
	top: 12px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-in-out;
	--web-action-type: page;
	--web-action-target: Home.html;
	cursor: pointer;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 20.13px;
	height: 2px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 20.13px;
	height: 2px;
	left: 0px;
	top: 5px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 20.13px;
	height: 2px;
	left: 0px;
	top: 10px;
	transform: matrix(1,0,0,1,0,0);
}
.youtube_Class {
	position: absolute;
	width: 57px;
	height: 31px;
	left: 32.308px;
	top: 2px;
	overflow: visible;
}
.PremiumIN_Class {
	position: absolute;
	left: 89.308px;
	top: 5.5px;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
.Searchbar_Class {
	position: absolute;
	width: 701px;
	height: 34px;
	left: 551.164px;
	top: 0px;
	overflow: visible;
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 701px;
	height: 34px;
	left: 0px;
	top: 0px;
}
.Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 71px;
	height: 34px;
	left: 630px;
	top: 0px;
}
.Search_Class {
	position: absolute;
	left: 13px;
	top: 4px;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(121,121,121,1);
}
.search_icon_Class {
	position: absolute;
	width: 15.5px;
	height: 15.5px;
	left: 660px;
	top: 6px;
	overflow: visible;
}
.Ellipse_1 {
	position: absolute;
	overflow: visible;
	width: 12px;
	height: 12px;
	left: 0px;
	top: 0px;
}
.Line_3 {
	overflow: visible;
	position: absolute;
	width: 6.414px;
	height: 6.414px;
	left: 10.5px;
	top: 10.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 29px;
	height: 29px;
	left: 1817.941px;
	top: 3px;
}
.video_Class {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 1640.941px;
	top: 1px;
	overflow: visible;
}
.body_bg_Class {
	opacity: 0.74;
}
.body_bg {
	position: absolute;
	overflow: visible;
	width: 1647px;
	height: 1011px;
	left: 273px;
	top: 69px;
}
.Body_Class {
	position: absolute;
	width: 1604px;
	height: 708px;
	left: 295px;
	top: 96px;
	overflow: visible;
}
.Video_1_Class {
	position: absolute;
	width: 383px;
	height: 295px;
	left: 0px;
	top: 64px;
	overflow: visible;
}
.Ellipse_3 {
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 41px;
	left: 0px;
	top: 230px;
}
.Ellipse_4 {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 129px;
	top: 284px;
}
.Video_Title___Title_of_the_vid_Class {
	position: absolute;
	left: 51px;
	top: 227px;
	overflow: hidden;
	width: 283px;
	height: 27px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
.Channel_Name_Class {
	position: absolute;
	left: 54px;
	top: 259px;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.ID1M_Views_Class {
	position: absolute;
	left: 54px;
	top: 278px;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.ID1_year_ago_Class {
	position: absolute;
	left: 138px;
	top: 278px;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.Image_2_Class {
	position: absolute;
	width: 383px;
	height: 214px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Video_2_Class {
	position: absolute;
	width: 383px;
	height: 295px;
	left: 407px;
	top: 64px;
	overflow: visible;
}
.Ellipse_3_cb {
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 41px;
	left: 0px;
	top: 230px;
}
.Ellipse_4_cc {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 129px;
	top: 284px;
}
.Video_Title___Title_of_the_vid_cd_Class {
	position: absolute;
	left: 51px;
	top: 227px;
	overflow: hidden;
	width: 283px;
	height: 27px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
.Channel_Name_ce_Class {
	position: absolute;
	left: 54px;
	top: 259px;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.ID1M_Views_cf_Class {
	position: absolute;
	left: 54px;
	top: 278px;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.ID1_year_ago_cg_Class {
	position: absolute;
	left: 138px;
	top: 278px;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.Image_2_ch_Class {
	position: absolute;
	width: 383px;
	height: 214px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Video_3_Class {
	position: absolute;
	width: 383px;
	height: 295px;
	left: 814px;
	top: 64px;
	overflow: visible;
}
.Ellipse_3_cj {
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 41px;
	left: 0px;
	top: 230px;
}
.Ellipse_4_ck {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 129px;
	top: 284px;
}
.Video_Title___Title_of_the_vid_cl_Class {
	position: absolute;
	left: 51px;
	top: 227px;
	overflow: hidden;
	width: 283px;
	height: 27px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
.Channel_Name_cm_Class {
	position: absolute;
	left: 54px;
	top: 259px;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.ID1M_Views_cn_Class {
	position: absolute;
	left: 54px;
	top: 278px;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.ID1_year_ago_co_Class {
	position: absolute;
	left: 138px;
	top: 278px;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.Image_2_cp_Class {
	position: absolute;
	width: 383px;
	height: 214px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Video_4_Class {
	position: absolute;
	width: 383px;
	height: 295px;
	left: 1221px;
	top: 64px;
	overflow: visible;
}
.Ellipse_3_cr {
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 41px;
	left: 0px;
	top: 230px;
}
.Ellipse_4_cs {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 129px;
	top: 284px;
}
.Video_Title___Title_of_the_vid_ct_Class {
	position: absolute;
	left: 51px;
	top: 227px;
	overflow: hidden;
	width: 283px;
	height: 27px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
.Channel_Name_cu_Class {
	position: absolute;
	left: 54px;
	top: 259px;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.ID1M_Views_cv_Class {
	position: absolute;
	left: 54px;
	top: 278px;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.ID1_year_ago_cw_Class {
	position: absolute;
	left: 138px;
	top: 278px;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.Image_2_cx_Class {
	position: absolute;
	width: 383px;
	height: 214px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Video_5_Class {
	position: absolute;
	width: 383px;
	height: 295px;
	left: 0px;
	top: 413px;
	overflow: visible;
}
.Ellipse_3_cz {
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 41px;
	left: 0px;
	top: 230px;
}
.Ellipse_4_c {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 129px;
	top: 284px;
}
.Video_Title___Title_of_the_vid_c_Class {
	position: absolute;
	left: 51px;
	top: 227px;
	overflow: hidden;
	width: 283px;
	height: 27px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
.Channel_Name_c_Class {
	position: absolute;
	left: 54px;
	top: 259px;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.ID1M_Views_c_Class {
	position: absolute;
	left: 54px;
	top: 278px;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.ID1_year_ago_c_Class {
	position: absolute;
	left: 138px;
	top: 278px;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.Image_2_c_Class {
	position: absolute;
	width: 383px;
	height: 214px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Video_6_Class {
	position: absolute;
	width: 383px;
	height: 295px;
	left: 407px;
	top: 413px;
	overflow: visible;
}
.Ellipse_3_c {
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 41px;
	left: 0px;
	top: 230px;
}
.Ellipse_4_da {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 129px;
	top: 284px;
}
.Video_Title___Title_of_the_vid_da_Class {
	position: absolute;
	left: 51px;
	top: 227px;
	overflow: hidden;
	width: 283px;
	height: 27px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
.Channel_Name_da_Class {
	position: absolute;
	left: 54px;
	top: 259px;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.ID1M_Views_db_Class {
	position: absolute;
	left: 54px;
	top: 278px;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.ID1_year_ago_dc_Class {
	position: absolute;
	left: 138px;
	top: 278px;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.Image_2_dd_Class {
	position: absolute;
	width: 383px;
	height: 214px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Video_7_Class {
	position: absolute;
	width: 383px;
	height: 295px;
	left: 814px;
	top: 413px;
	overflow: visible;
}
.Ellipse_3_df {
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 41px;
	left: 0px;
	top: 230px;
}
.Ellipse_4_dg {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 129px;
	top: 284px;
}
.Video_Title___Title_of_the_vid_dh_Class {
	position: absolute;
	left: 51px;
	top: 227px;
	overflow: hidden;
	width: 283px;
	height: 27px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
.Channel_Name_di_Class {
	position: absolute;
	left: 54px;
	top: 259px;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.ID1M_Views_dj_Class {
	position: absolute;
	left: 54px;
	top: 278px;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.ID1_year_ago_dk_Class {
	position: absolute;
	left: 138px;
	top: 278px;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.Image_2_dl_Class {
	position: absolute;
	width: 383px;
	height: 214px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Video_8_Class {
	position: absolute;
	width: 383px;
	height: 295px;
	left: 1221px;
	top: 413px;
	overflow: visible;
}
.Ellipse_3_dn {
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 41px;
	left: 0px;
	top: 230px;
}
.Ellipse_4_do {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 129px;
	top: 284px;
}
.Video_Title___Title_of_the_vid_dp_Class {
	position: absolute;
	left: 51px;
	top: 227px;
	overflow: hidden;
	width: 283px;
	height: 27px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
.Channel_Name_dq_Class {
	position: absolute;
	left: 54px;
	top: 259px;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.ID1M_Views_dr_Class {
	position: absolute;
	left: 54px;
	top: 278px;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.ID1_year_ago_ds_Class {
	position: absolute;
	left: 138px;
	top: 278px;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.Image_2_dt_Class {
	position: absolute;
	width: 383px;
	height: 214px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Recommended_Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 162px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(0,0,0,1);
}
.Body_dv_Class {
	position: absolute;
	width: 1604px;
	height: 644px;
	left: 295px;
	top: 842px;
	overflow: visible;
}
.Video_1_dw_Class {
	position: absolute;
	width: 383px;
	height: 295px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Ellipse_3_dx {
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 41px;
	left: 0px;
	top: 230px;
}
.Ellipse_4_dy {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 129px;
	top: 284px;
}
.Video_Title___Title_of_the_vid_dz_Class {
	position: absolute;
	left: 51px;
	top: 227px;
	overflow: hidden;
	width: 283px;
	height: 27px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
.Channel_Name_d_Class {
	position: absolute;
	left: 54px;
	top: 259px;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.ID1M_Views_d_Class {
	position: absolute;
	left: 54px;
	top: 278px;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.ID1_year_ago_d_Class {
	position: absolute;
	left: 138px;
	top: 278px;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.Image_2_d_Class {
	position: absolute;
	width: 383px;
	height: 214px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Video_2_d_Class {
	position: absolute;
	width: 383px;
	height: 295px;
	left: 407px;
	top: 0px;
	overflow: visible;
}
.Ellipse_3_d {
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 41px;
	left: 0px;
	top: 230px;
}
.Ellipse_4_d {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 129px;
	top: 284px;
}
.Video_Title___Title_of_the_vid_d_Class {
	position: absolute;
	left: 51px;
	top: 227px;
	overflow: hidden;
	width: 283px;
	height: 27px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
.Channel_Name_ea_Class {
	position: absolute;
	left: 54px;
	top: 259px;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.ID1M_Views_ea_Class {
	position: absolute;
	left: 54px;
	top: 278px;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.ID1_year_ago_ea_Class {
	position: absolute;
	left: 138px;
	top: 278px;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.Image_2_eb_Class {
	position: absolute;
	width: 383px;
	height: 214px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Video_3_ec_Class {
	position: absolute;
	width: 383px;
	height: 295px;
	left: 814px;
	top: 0px;
	overflow: visible;
}
.Ellipse_3_ed {
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 41px;
	left: 0px;
	top: 230px;
}
.Ellipse_4_ee {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 129px;
	top: 284px;
}
.Video_Title___Title_of_the_vid_ef_Class {
	position: absolute;
	left: 51px;
	top: 227px;
	overflow: hidden;
	width: 283px;
	height: 27px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
.Channel_Name_eg_Class {
	position: absolute;
	left: 54px;
	top: 259px;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.ID1M_Views_eh_Class {
	position: absolute;
	left: 54px;
	top: 278px;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.ID1_year_ago_ei_Class {
	position: absolute;
	left: 138px;
	top: 278px;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.Image_2_ej_Class {
	position: absolute;
	width: 383px;
	height: 214px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Video_4_ek_Class {
	position: absolute;
	width: 383px;
	height: 295px;
	left: 1221px;
	top: 0px;
	overflow: visible;
}
.Ellipse_3_el {
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 41px;
	left: 0px;
	top: 230px;
}
.Ellipse_4_em {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 129px;
	top: 284px;
}
.Video_Title___Title_of_the_vid_en_Class {
	position: absolute;
	left: 51px;
	top: 227px;
	overflow: hidden;
	width: 283px;
	height: 27px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
.Channel_Name_eo_Class {
	position: absolute;
	left: 54px;
	top: 259px;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.ID1M_Views_ep_Class {
	position: absolute;
	left: 54px;
	top: 278px;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.ID1_year_ago_eq_Class {
	position: absolute;
	left: 138px;
	top: 278px;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.Image_2_er_Class {
	position: absolute;
	width: 383px;
	height: 214px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Video_5_es_Class {
	position: absolute;
	width: 383px;
	height: 295px;
	left: 0px;
	top: 349px;
	overflow: visible;
}
.Ellipse_3_et {
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 41px;
	left: 0px;
	top: 230px;
}
.Ellipse_4_eu {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 129px;
	top: 284px;
}
.Video_Title___Title_of_the_vid_ev_Class {
	position: absolute;
	left: 51px;
	top: 227px;
	overflow: hidden;
	width: 283px;
	height: 27px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
.Channel_Name_ew_Class {
	position: absolute;
	left: 54px;
	top: 259px;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.ID1M_Views_ex_Class {
	position: absolute;
	left: 54px;
	top: 278px;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.ID1_year_ago_ey_Class {
	position: absolute;
	left: 138px;
	top: 278px;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.Image_2_ez_Class {
	position: absolute;
	width: 383px;
	height: 214px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Video_6_e_Class {
	position: absolute;
	width: 383px;
	height: 295px;
	left: 407px;
	top: 349px;
	overflow: visible;
}
.Ellipse_3_e {
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 41px;
	left: 0px;
	top: 230px;
}
.Ellipse_4_e {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 129px;
	top: 284px;
}
.Video_Title___Title_of_the_vid_e_Class {
	position: absolute;
	left: 51px;
	top: 227px;
	overflow: hidden;
	width: 283px;
	height: 27px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
.Channel_Name_e_Class {
	position: absolute;
	left: 54px;
	top: 259px;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.ID1M_Views_e_Class {
	position: absolute;
	left: 54px;
	top: 278px;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.ID1_year_ago_e_Class {
	position: absolute;
	left: 138px;
	top: 278px;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.Image_2_e_Class {
	position: absolute;
	width: 383px;
	height: 214px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Video_7_e_Class {
	position: absolute;
	width: 383px;
	height: 295px;
	left: 814px;
	top: 349px;
	overflow: visible;
}
.Ellipse_3_fa {
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 41px;
	left: 0px;
	top: 230px;
}
.Ellipse_4_fa {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 129px;
	top: 284px;
}
.Video_Title___Title_of_the_vid_fb_Class {
	position: absolute;
	left: 51px;
	top: 227px;
	overflow: hidden;
	width: 283px;
	height: 27px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
.Channel_Name_fc_Class {
	position: absolute;
	left: 54px;
	top: 259px;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.ID1M_Views_fd_Class {
	position: absolute;
	left: 54px;
	top: 278px;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.ID1_year_ago_fe_Class {
	position: absolute;
	left: 138px;
	top: 278px;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.Image_2_ff_Class {
	position: absolute;
	width: 383px;
	height: 214px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Video_8_fg_Class {
	position: absolute;
	width: 383px;
	height: 295px;
	left: 1221px;
	top: 349px;
	overflow: visible;
}
.Ellipse_3_fh {
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 41px;
	left: 0px;
	top: 230px;
}
.Ellipse_4_fi {
	position: absolute;
	overflow: visible;
	width: 5px;
	height: 5px;
	left: 129px;
	top: 284px;
}
.Video_Title___Title_of_the_vid_fj_Class {
	position: absolute;
	left: 51px;
	top: 227px;
	overflow: hidden;
	width: 283px;
	height: 27px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
.Channel_Name_fk_Class {
	position: absolute;
	left: 54px;
	top: 259px;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.ID1M_Views_fl_Class {
	position: absolute;
	left: 54px;
	top: 278px;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.ID1_year_ago_fm_Class {
	position: absolute;
	left: 138px;
	top: 278px;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(0,0,0,1);
}
.Image_2_fn_Class {
	position: absolute;
	width: 383px;
	height: 214px;
	left: 0px;
	top: 0px;
	overflow: visible;
}